{% extends "base-dashboard.html" %}
{% load i18n %}
{% block secondary_menu %}
{% endblock secondary_menu %}
{% load static %}

{% block title %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href=""><i class="icon-home"></i>
  </a>
</li>
<li class="breadcrumb-item active">{% trans '' %}</li>
{% endblock %}

{% block content %}

<section class="container assess-list">
  <div class="container-fluid project-list">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card"></div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="tab-content">
          <div class="tab-pane active" id="swap">
            <div class="center-div">
              <div class="row clearfix" style="width: 40%;" id="show_dex_card">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card">
                    <div class="body">
    
                      <div class="row clearfix" style="margin-bottom: 26px; align-items: center">
                        <div class="col-xl-4 col-lg-4 col-md-4" style="text-align-last: right;">
                          Network :
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                          <select class="ice-cream" name="network"  id="network" style="height:40px ;margin-left: 100px;">
                            <option value="avalanche" selected><span><img src="{% static 'images/avalanche.svg' %}" alt=""> Avalanche</span> </option>
                            <option value="polygon"> Polygon </option>
                            <option value="ethereum"> Ethereum </option>
                          </select>
                        </div>
                      </div>
    
                      <div class="row clearfix" style="margin-bottom: 26px; align-items: center">
                        <div class="col-xl-4 col-lg-4 col-md-4" style="text-align-last: right;">
                          Duration :
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                          <select class="ice-cream" name="time" , id="time"
                            style="height:60px ;margin-left: 100px; width: %;">
                            <option value="1" selected> 1 month </option>
                            <option value="3"> 3 month </option>
                            <option value="6"> 6 month </option>
                          </select>
                        </div>
                      </div>
    
                      <div class="row clearfix">
    
                        <div class="col-xl-6 col-lg-6 col-md-12">
                          <input type="text" class="form-control" id="token_in" placeholder="Token in"
                            style="color: white; height: 37px;" />
    
                        </div>
    
                        <div class="col-xl-6 col-lg-6 col-md-12">
                          <input type="text" class="form-control" id="token_out" placeholder="Token out"
                            style="color: white; height: 37px;" />
    
                        </div>
    
                      </div>
    
                      <div class="row clearfix spin_div" id="spin_div">
                        <span class="loader" id="loadingSpinner"></span>
                      </div>
    
                      <div class="diagram" id="diagram" >
    
                        <div class="dex">
                          <div class="card green-card" style="border-color: #FF9F00;">
                            <div class="row" style=" align-items: baseline; place-content: center;">
                              <p class="dex highest-return-dex" id="dexValue" style="color: #00877d;">dex</p>
                              <p class="route" id="route_value" >route_value</p>
                            </div>
                            <span class="green-span" style="color: #FF9F00;">Highest Return</span>
                          </div>
                         
                          <div class="card green-card" style="border-color: #FF9F00;">
                            <div class="row" style=" align-items: baseline; place-content: center;">
                              <p class="dex highest-return-dex" id="dexValue_2" style="color: #00877d;">dex</p>
                              <p class="route" id="route_value_2" >route_value</p>
                            </div>
                            <span class="green-span" style="color: #FF9F00;">Green Route</span>
                          </div>
                        </div>
    
                      </div>
                      
                      <div  id="error_route" style="display: none;">
                        <div class="dex">
                          <div class="card green-card" style="border-color: #bf0202;">
                            <div class="row" style=" align-items: baseline; place-content: center;">
                              <p class="route" id="error_message" style="padding: 20px 11px 6px 46px;">There is no route available. Please double check your Token IDs and network.</p>
                            </div>
                            <span class="green-span" style="color: #bf0202;">Error</span>
                          </div>
                        </div>
                      </div>


                      <div id="more_details" style="text-align-last: center; display: none; margin-top: 47px;">
                        <button class="btn btn-primary btn-round" style="background: black;" onclick="redirectToURL()">More
                          Details</button>
                      </div>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div class="body">
                    <div class="table-responsive" style="height: 431px;">
                      <table class="table table-striped" id="ListTable">
                        <thead>
                          <tr>
                            <th style="color:white">Platform</th>
                            <th style="color:white">Median of Exch. Rate</th>
                            <th style="color:white">Avg. Exch. Rate</th>
                            <th style="color:white">Avg. gas used</th>
                            <th style="color:white">Avg. tx_fee
                              <img src="{% static 'images/avalanche.svg' %}" alt="" width=15>
                            </th>
                            <th style="color:white">Number of Swaps</th>
                            <th style="color:white">Number of Swappers</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="bridge">
            
            <div class="center-div">
              <div class="row clearfix" style="width: 40%;" id="show_dex_card">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card">
                    <div class="body">
                      <div class="card bridge-card" style="border-color: #091f26;     height: auto;">
                        <input type="hidden" id="avalanche_symbols" value="{{ avalanche }}">
                        <input type="hidden" id="polygon_symbols" value="{{ polygon }}">
                        <input type="hidden" id="ethereumn_symbols" value="{{ ethereum }}">
                        <input type="hidden" id="bscn_symbols" value="{{ bsc }}">
                        <input type="hidden" id="optimism_symbols" value="{{ optimism }}">
                        <input type="hidden" id="arbitrum_symbols" value="{{ arbitrum }}">

                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6" style="width:93%">
                            <select class="form-control show-tick" id="bridge_network_1">
                              <option value="avalanche" selected> Avalanche </option>
                              <option value="polygon"> Polygon </option>
                              <option value="ethereum"> Ethereum </option>
                              <option value="bsc"> binance </option>
                              <option value="arbitrum"> arbitrum </option>
                              <option value="optimism"> optimism </option>
                          </select>
                          </div>
                          
                          <div class="col-xl-6 col-lg-6 col-md-6 custom-dropdown" >
                            <select class="form-control z-index show-tick" data-live-search="true" id="symbol_in">
                            </select>
                          </div>
                          
                        </div>
                        <span class="bridge-span" style="color: #091f26;">From</span>
                      </div>
                      <div class="swap_svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                          <path fill="currentColor"
                            d="M9 8.85V12q0 .425.288.713T10 13q.425 0 .713-.288T11 12V8.85l.9.875q.275.275.688.275t.712-.3q.275-.275.275-.7t-.275-.7l-2.575-2.575q-.3-.3-.712-.3t-.713.3L6.7 8.3q-.275.275-.288.688T6.7 9.7q.275.275.688.288t.712-.263L9 8.85Zm4 6.3l-.9-.875Q11.825 14 11.412 14t-.712.3q-.275.275-.275.7t.275.7l2.6 2.6q.3.3.713.3t.712-.3l2.575-2.6q.275-.275.288-.687T17.3 14.3q-.275-.275-.688-.288t-.712.263l-.9.875V12q0-.425-.288-.713T14 11q-.425 0-.713.288T13 12v3.15ZM12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Z" />
                        </svg>
                      </div>
                      <div class="card bridge-card" style="border-color: #091f26;">
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6" style="width:93%">
                            <select class="form-control show-tick" id="bridge_network_2">
                              <option value="polygon" selected> Polygon </option>
                              <option value="avalanche" > Avalanche </option>
                              <option value="ethereum"> Ethereum </option>
                              <option value="bsc"> binance </option>
                              <option value="arbitrum"> arbitrum </option>
                              <option value="optimism"> optimism </option>
                          </select>
                          </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 custom-dropdown" >
                              <select class="form-control z-index show-tick" data-live-search="true" id="symbol_out">
                              </select>
                            </div>
                            <!-- <input type="text" class="form-control" id="bridge_token_2" placeholder="Symbol Out"
                              style="color: white; height: 37px;" /> -->
                        </div>
                        <span class="bridge-span" style="color: #091f26;">To</span>
                      </div>

                      <div class="diagram" id="bridge_diagram" style="height: auto;">
    
                          <div class="card green-card" style="border-color: #FF9F00;">
                            <div class="row" style=" align-items: baseline; place-content: center;">
                              <p class="dex highest-return-dex" id="bridge_route_1" style="color: #00877d;"></p>
                              <p class="dex highest-return-dex" id="bridge_route_2" style="color: #00877d;">dex</p>
                            </div>
                            <span class="green-span" style="color: #FF9F00;">Green Route</span>
                          </div>
                      </div>

                      <div class="row clearfix spin_div" id="spinner_bridge">
                        <span class="loader" id="loadingSpinner_bridge"></span>
                      </div>

                      <div class="row clearfix">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
           
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block scripts %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css" integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<script>
  function showLoadingSpinner(id, div_id) {
    const spinner = document.getElementById(id);
    spinner.style.display = 'block';
    
    const spinner_div = document.getElementById(div_id);
    spinner_div.style.display = 'flex';
    
  }

  function hideLoadingSpinner(id, div_id) {
    const spinner = document.getElementById(id);
    spinner.style.display = 'none';
    const spinner_div = document.getElementById(div_id);
    spinner_div.style.display = 'none';
  }
</script>
<script>

$(document).ready(function() {

  

  function clearTable() {
    let table = document.getElementById("ListTable");
    while (table.firstChild) {
      table.removeChild(table.firstChild);
    }
  }

  function sendAjaxRequest() {
    // Get the values from the input fields
    var network = document.getElementById('network').value;
    var time = document.getElementById('time').value;
    var tokenInValue = document.getElementById('token_in').value;
    var tokenOutValue = document.getElementById('token_out').value;

    // Check if both fields are filled
    if (tokenInValue && tokenOutValue) {
      diagram.style.display = 'none';
      const error_1 = document.getElementById('error_route');
      error_1.style.display = 'none';
      const button_div = document.getElementById('more_details');
      button_div.style.display = 'none';

    showLoadingSpinner('loadingSpinner', 'spin_div')
    clearTable();

     var data = {
        network: network,
        time: time,
        token_in: tokenInValue,
        token_out: tokenOutValue,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      };

      $.ajax({
        method: 'POST',
        url: "{% url 'find_dex' %}",
       
        data: {
          network: network,
          time: time,
          token_in: tokenInValue,
          token_out: tokenOutValue,
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function(response) {
          hideLoadingSpinner('loadingSpinner', 'spin_div')
          const diagram = document.getElementById('diagram');
          const error_1 = document.getElementById('error_route');
          // const tokenInSymbol = document.getElementById('tokenIn');
          // const tokenOutSymbol = document.getElementById('tokenOut');
          const dexValue = document.getElementById('dexValue');
          const routeValue = document.getElementById('route_value');
          
          const dexValue_2 = document.getElementById('dexValue_2');
          const routeValue_2 = document.getElementById('route_value_2');

          // tokenInSymbol.textContent = tokenInValue;
          // tokenOutSymbol.textContent = tokenOutValue;
          console.log('response',response)
          if (response['error'] == 1){
            error_1.style.display = 'flex';
          }

          dexValue.textContent = response['platform'];
          routeValue.textContent = response['median'].toFixed(5);
          
          dexValue_2.textContent = response['platform_2'];
          routeValue_2.textContent = response['median_2'].toFixed(5);
          if (response['error'] == 0){
            diagram.style.display = 'flex';
            
            const button_div = document.getElementById('more_details');
            button_div.style.display = 'block';
            async function fetchDataAndCallTable_1() {
            // var dataObject = JSON.parse();
            var isActive = true
            table_1(response['stat'], isActive);
            }
            fetchDataAndCallTable_1()
            // Show the diagram
          }
         
          

        },
        error: function(xhr, status, error) {
          // Handle any errors that occur during the AJAX request
          console.error('Error:', error);
        }
      });
    }

  }

  // Add event listeners to the input fields
  document.getElementById('token_in').addEventListener('input', sendAjaxRequest);
  document.getElementById('token_out').addEventListener('input', sendAjaxRequest);
  document.getElementById('network').addEventListener('change', sendAjaxRequest);
  document.getElementById('time').addEventListener('change', sendAjaxRequest);

})

function redirectToURL() {
  // Redirect to the Django project URL
  var network = document.getElementById('network').value;
  var time = document.getElementById('time').value;
  var tokenInValue = document.getElementById('token_in').value;
  var tokenOutValue = document.getElementById('token_out').value;
  var dexValue = document.getElementById('dexValue').innerHTML;

  var url = '/dashboard/' + network + '/' + tokenInValue + '/' + tokenOutValue + '/' + time + '/' + dexValue;

  window.open(url, '_blank');
}

</script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-sparkline.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
 
  <script>
    function addRow_1(a1, a2, a3, a4, a5, a6, a7) {
      // Get the table body element in which you want to add row
      let table = document.getElementById("ListTable");
      // Create row element
      let row = document.createElement("tr")

      // Create cells
      let c1 = document.createElement("td")
      let c2 = document.createElement("td")
      let c3 = document.createElement("td")
      let c4 = document.createElement("td")
      let c5 = document.createElement("td")
      let c6 = document.createElement("td")
      let c7 = document.createElement("td")


      c1.style.color = "white";
      c2.style.color = "white";
      c3.style.color = "white";
      c4.style.color = "white";
      c5.style.color = "white";

      // Insert data to cells
      c1.innerText = a1
      c2.innerText = a2
      c3.innerText = a3
      c4.innerText = a4
      c5.innerText = a5
   



      // Append cells to row
      row.appendChild(c1);
      row.appendChild(c2);
      row.appendChild(c3);
      row.appendChild(c4);
      row.appendChild(c5);
      row.appendChild(c6);
      row.appendChild(c7);
     
// Create the sparkline chart

       
      // Append row to table body
      table.appendChild(row)
      $(c6).sparkline(a6, {
        type: 'line',
        width: '100',
        height: '20',
        lineColor: 'white',
        fillColor: 'transparent',
        spotColor: 'red',
        minSpotColor: 'red',
        maxSpotColor: 'red',
        highlightSpotColor: 'red',
        highlightLineColor: 'red'
      });
      
      table.appendChild(row)
      $(c7).sparkline(a7, {
        type: 'line',
        width: '100',
        height: '20',
        lineColor: 'white',
        fillColor: 'transparent',
        spotColor: 'red',
        minSpotColor: 'red',
        maxSpotColor: 'red',
        highlightSpotColor: 'red',
        highlightLineColor: 'red'
      });
      
    }
  </script>

<script type="text/javascript">

  async function table_1(tx_datas, header){
    console.log('tx_datas', tx_datas)
    if (header) {
      console.log('header')
      let table = document.getElementById("ListTable");
      let row = document.createElement("tr")

      // Create cells
      let c1 = document.createElement("th")
      let c2 = document.createElement("th")
      let c3 = document.createElement("th")
      let c4 = document.createElement("th")
      let c5 = document.createElement("th")
      let c6 = document.createElement("th")
      let c7 = document.createElement("th")


      c1.style.color = "white";
      c2.style.color = "white";
      c3.style.color = "white";
      c4.style.color = "white";
      c5.style.color = "white";
      c6.style.color = "white";
      c7.style.color = "white";

      // Insert data to cells
      c1.innerText = "Platform"
      c2.innerText = "Median of Exch. Rate"
      c3.innerText = "Avg. Exch. Rate"
      c4.innerText = "Avg. gas used"
      c5.innerText = "Avg. tx_fee"
      c6.innerText = "Number of Swaps"
      c7.innerText = "Number of Swappers"
      
            
    var network = document.getElementById('network').value;
     let image = document.createElement("img")

     let source;
     if(network == 'avalanche'){
       source = "{% static 'images/' %}" + network + ".svg"
       image.style.marginLeft = "4px";
       image.setAttribute("width", 15)
     } else if (network == 'polygon'){
       source = "{% static 'images/' %}" + network + ".svg"
       image.setAttribute("width", 25)
     } else if (network == 'ethereum'){
      source = "{% static 'images/' %}" + network + ".svg"
      image.style.marginLeft = "4px";
      image.setAttribute("width", 17)
     }

     image.setAttribute("src", source)
     
     c5.appendChild(image)
  

      // Append cells to row
      row.appendChild(c1);
      row.appendChild(c2);
      row.appendChild(c3);
      row.appendChild(c4);
      row.appendChild(c5);
      row.appendChild(c6);
      row.appendChild(c7);

      table.appendChild(row)

    }

    for (let index = 0; index < tx_datas.length; index++) {
      const element = tx_datas[index];
      console.log('element', element)

      addRow_1(element['platform'],
        element['median.exch rate'].toFixed(4),
        element['avg.exch rate'].toFixed(4),
        element['avg.gas_used'].toFixed(0),
        element['avg.tx_fee'].toFixed(2),
        element['swaps'],
        element['swappers'],)
        
    }
  }
  async function fetchDataAndCallTable() {
    const tx_data = await fetch('https://api.flipsidecrypto.com/api/v2/queries/05863b68-4e2a-4de0-be83-a0322e34a2e8/data/latest');
    var tx_datas = await tx_data.json();
    table_1(tx_datas, false)
  }
  fetchDataAndCallTable()
</script>


<!-- Start Bridge -->

<script>

  $(document).ready(function() {
    
    function sendAjaxRequest() {
      // Get the values from the input fields
      var network1 = document.getElementById('bridge_network_1').value;
      var network2 = document.getElementById('bridge_network_2').value;
      var token1 = document.getElementById('symbol_in').value;
      var token2 = document.getElementById('symbol_out').value;
  
      // Check if both fields are filled
      if (token1 && token2) {
        bridge_diagram.style.display = 'none';
        showLoadingSpinner('loadingSpinner_bridge', 'spinner_bridge')

        $.ajax({
          method: 'POST',
          url: "{% url 'find_path' %}",
         
          data: {
            bridge_network_1: network1,
            bridge_network_2: network2,
            bridge_token_1: token1,
            bridge_token_2: token2,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(response) {
            // ()
            hideLoadingSpinner('loadingSpinner_bridge', 'spinner_bridge')

            const bridge_diagram = document.getElementById('bridge_diagram');
            const bridge_route_1 = document.getElementById('bridge_route_1');
            const bridge_route_2 = document.getElementById('bridge_route_2');
            
            bridge_route_1.innerHTML = '';

            response['path_1'].forEach(function(item) {
              // Create a new paragraph element for each item
              const itemElement = document.createElement('p');

              // Set the text content of the paragraph to the item value
              itemElement.textContent = item;
              itemElement.style.fontSize = 'medium';
              itemElement.style.marginBottom = '4px';
              // Append the paragraph element to the container
              bridge_route_1.appendChild(itemElement);
            });

            bridge_route_2.innerHTML = '';
            response['path_2'].forEach(function(item) {
              // Create a new paragraph element for each item
              const itemElement = document.createElement('p');

              // Set the text content of the paragraph to the item value
              itemElement.textContent = item;
              itemElement.style.fontSize = 'medium';
              itemElement.style.marginBottom = '4px';
              // Append the paragraph element to the container
              bridge_route_2.appendChild(itemElement);
            });
            // bridge_route_1.textContent = response['path_1'];
            // bridge_route_2.textContent = response['path_2'];
           
            // Show the diagram
            bridge_diagram.style.display = 'block';
            
          },
          error: function(xhr, status, error) {
            // Handle any errors that occur during the AJAX request
            console.error('Error:', error);
          }
        });
      }
  
    }
  
    // Add event listeners to the input fields
    document.getElementById('bridge_network_1').addEventListener('change', sendAjaxRequest);
    document.getElementById('bridge_network_2').addEventListener('change', sendAjaxRequest);
    document.getElementById('symbol_in').addEventListener('change', sendAjaxRequest);
    document.getElementById('symbol_out').addEventListener('change', sendAjaxRequest);
  
  })
</script>

<!-- select - symbols -->
<script>

  function sanitizeInput(input) {
    return input.replace(/[^\x20-\x7E]/g, ''); // Removes any non-printable characters
  }

  function updateSymbolsOptions(network_symbols_id, select_id){
    console.log(network_symbols_id, select_id)
    var dataText_x = document.getElementById(network_symbols_id).value.replaceAll("'", '"');
    dataText_x = sanitizeInput(dataText_x);

    var dataArray = JSON.parse(dataText_x);

    // Get the select element
    var $select = $(select_id);
    $select.empty();
    
    // Loop through the data array and add options to the select element
    dataArray.forEach(function(item) {
      $select.append('<option>' + item + '</option>');
    });
  
    // Initialize the Bootstrap Select plugin
    $select.selectpicker('refresh');
  }

  function trigger_select_symbols(symbol_select_id, network_select_id){
    var network1 = document.getElementById(network_select_id).value;

    updateSymbolsOptions(network1 + "_symbols", symbol_select_id)
    console.log('trigger')

  }

  $(document).ready(function() {
    // Get the data array from the hidden input
    updateSymbolsOptions("avalanche_symbols", '#symbol_in')
    updateSymbolsOptions("polygon_symbols", '#symbol_out')

    document.getElementById('bridge_network_1').addEventListener('change', function() {
      trigger_select_symbols('#symbol_in', 'bridge_network_1')
    });
    document.getElementById('bridge_network_2').addEventListener('change', function() {
      trigger_select_symbols('#symbol_out', 'bridge_network_2')
    });

  });
</script>
<!-- End select - symbols -->

<!-- End Bridge -->
{% endblock %}
