{% extends "base-dashboard.html" %}
{% load i18n %}
{% block secondary_menu %}
{% endblock secondary_menu %}
{% load static %}

{% block title %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href=""><i class="icon-home"></i>
  </a>
</li>
<li class="breadcrumb-item active">{% trans '' %}</li>
{% endblock %}

{% block content %}

<section class="container assess-list">
  <div class="container-fluid project-list">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card"></div>
      </div>
    </div>
    <div class="center-div">
      <div class="row clearfix" style="width: 40%;" id="show_dex_card">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="card">
            <div class="body">
              
                <div class="row clearfix" style="margin-bottom: 26px; align-items: center">
                  <div class="col-xl-4 col-lg-4 col-md-4" style="text-align-last: right;">
                    Network :
                  </div>
                  <div class="col-xl-8 col-lg-8 col-md-8">
                    <select class="ice-cream" name="network" , id="network" style="height:40px ;margin-left: 100px;">
                      <option value="avalanche" selected> Avalanche </option>
                      <option value="polygon"> Polygon </option>
                      <option value="ethereum"> Ethereum </option>
                    </select>
                  </div>
                </div>

                <div class="row clearfix" style="margin-bottom: 26px; align-items: center">
                  <div class="col-xl-4 col-lg-4 col-md-4" style="text-align-last: right;">
                    Duration :
                  </div>
                  <div class="col-xl-8 col-lg-8 col-md-8">
                    <select class="ice-cream" name="time" , id="time" style="height:60px ;margin-left: 100px; width: %;">
                      <option value="1" selected> 1 month </option>
                      <option value="3"> 3 month </option>
                      <option value="6"> 6 month </option>
                    </select>
                  </div>
                </div>

              <div class="row clearfix">
                
                <div class="col-xl-6 col-lg-6 col-md-12">
                  <input type="text" class="form-control" id="token_in" placeholder="Token in" style="color: white; height: 37px;"/>                                   
                 
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                  <input type="text" class="form-control" id="token_out" placeholder="Token out" style="color: white; height: 37px;"/>                                   
                  
                </div>
    
              </div>

              <div class="row clearfix spin_div" id="spin_div" >
                <span class="loader" id="loadingSpinner"></span>
              </div>

              <div class="diagram" id="diagram">
              
                <div class="dex">
                  <div class="row" style="align-items: center;">
                    <p style="font-size: 20px;">Best Route :</p><p class="dex" id="dexValue" style="font-size: 20px;">dex</p>
                  </div>
                  <p class="route" id="route_value">route_value</p>
                </div>
                
              </div>

              <div id="more_details" style="text-align-last: center; display: none">
                <button class="btn btn-primary btn-round" style="background: black;" onclick="redirectToURL()">More Details</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive" style="height: 431px;">
              <table class="table table-striped" id="ListTable">
                <thead>
                  <tr>
                    <th style="color:white">Platform</th>
                    <th style="color:white">Median of Exch. Rate</th>
                    <th style="color:white">Avg. Exch. Rate</th>
                    <th style="color:white">Avg. gas used</th>
                    <th style="color:white">Avg. tx_fee</th>
                    <th style="color:white">Number of Swaps</th>
                    <th style="color:white">Number of Swappers</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<script>

$(document).ready(function() {

  function showLoadingSpinner() {
    const spinner = document.getElementById('loadingSpinner');
    spinner.style.display = 'block';
    
    const spinner_div = document.getElementById('spin_div');
    spinner_div.style.display = 'flex';
    
  }

  function hideLoadingSpinner() {
    const spinner = document.getElementById('loadingSpinner');
    spinner.style.display = 'none';
    const spinner_div = document.getElementById('spin_div');
    spinner_div.style.display = 'none';
  }

  function clearTable() {
    let table = document.getElementById("ListTable");
    while (table.firstChild) {
      table.removeChild(table.firstChild);
    }
  }

  function sendAjaxRequest() {
    // Get the values from the input fields
    var network = document.getElementById('network').value;
    var time = document.getElementById('time').value;
    var tokenInValue = document.getElementById('token_in').value;
    var tokenOutValue = document.getElementById('token_out').value;

    // Check if both fields are filled
    if (tokenInValue && tokenOutValue) {
      diagram.style.display = 'none';
      const button_div = document.getElementById('more_details');
      button_div.style.display = 'none';

    showLoadingSpinner()
    clearTable();

     var data = {
        network: network,
        time: time,
        token_in: tokenInValue,
        token_out: tokenOutValue,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      };

      $.ajax({
        method: 'POST',
        url: "{% url 'find_dex' %}",
       
        data: {
          network: network,
          time: time,
          token_in: tokenInValue,
          token_out: tokenOutValue,
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function(response) {
          hideLoadingSpinner()
          const diagram = document.getElementById('diagram');
          // const tokenInSymbol = document.getElementById('tokenIn');
          // const tokenOutSymbol = document.getElementById('tokenOut');
          const dexValue = document.getElementById('dexValue');
          const routeValue = document.getElementById('route_value');

          // tokenInSymbol.textContent = tokenInValue;
          // tokenOutSymbol.textContent = tokenOutValue;
          console.log('response',response)
          dexValue.textContent = response['platform'];
          routeValue.textContent = response['median'].toFixed(5);
          async function fetchDataAndCallTable() {
            // var dataObject = JSON.parse();
            var isActive = true
            table_1(response['stat'], isActive);
          }
          fetchDataAndCallTable()
          // Show the diagram
          diagram.style.display = 'flex';
          
          const button_div = document.getElementById('more_details');
          button_div.style.display = 'block';
        },
        error: function(xhr, status, error) {
          // Handle any errors that occur during the AJAX request
          console.error('Error:', error);
        }
      });
    }

  }

  // Add event listeners to the input fields
  document.getElementById('token_in').addEventListener('input', sendAjaxRequest);
  document.getElementById('token_out').addEventListener('input', sendAjaxRequest);
  document.getElementById('network').addEventListener('change', sendAjaxRequest);
  document.getElementById('time').addEventListener('change', sendAjaxRequest);

})

function redirectToURL() {
  // Redirect to the Django project URL
  var network = document.getElementById('network').value;
  var time = document.getElementById('time').value;
  var tokenInValue = document.getElementById('token_in').value;
  var tokenOutValue = document.getElementById('token_out').value;
  var dexValue = document.getElementById('dexValue').innerHTML;

  var url = '/dashboard/' + network + '/' + tokenInValue + '/' + tokenOutValue + '/' + time + '/' + dexValue;

  window.open(url, '_blank');
}

</script>
<script>
  $(document).ready(function() {
    $('#network').select2();
  });
</script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-sparkline.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
 

  <script>
    function addRow_1(a1, a2, a3, a4, a5, a6, a7) {
      // Get the table body element in which you want to add row
      let table = document.getElementById("ListTable");
      // Create row element
      let row = document.createElement("tr")

      // Create cells
      let c1 = document.createElement("td")
      let c2 = document.createElement("td")
      let c3 = document.createElement("td")
      let c4 = document.createElement("td")
      let c5 = document.createElement("td")
      let c6 = document.createElement("td")
      let c7 = document.createElement("td")


      c1.style.color = "white";
      c2.style.color = "white";
      c3.style.color = "white";
      c4.style.color = "white";
      c5.style.color = "white";

      // Insert data to cells
      c1.innerText = a1
      c2.innerText = a2
      c3.innerText = a3
      c4.innerText = a4
      c5.innerText = a5
   


      // Append cells to row
      row.appendChild(c1);
      row.appendChild(c2);
      row.appendChild(c3);
      row.appendChild(c4);
      row.appendChild(c5);
      row.appendChild(c6);
      row.appendChild(c7);
     
// Create the sparkline chart

       
      // Append row to table body
      table.appendChild(row)
      $(c6).sparkline(a6, {
        type: 'line',
        width: '100',
        height: '20',
        lineColor: 'white',
        fillColor: 'transparent',
        spotColor: 'red',
        minSpotColor: 'red',
        maxSpotColor: 'red',
        highlightSpotColor: 'red',
        highlightLineColor: 'red'
      });
      
      table.appendChild(row)
      $(c7).sparkline(a7, {
        type: 'line',
        width: '100',
        height: '20',
        lineColor: 'white',
        fillColor: 'transparent',
        spotColor: 'red',
        minSpotColor: 'red',
        maxSpotColor: 'red',
        highlightSpotColor: 'red',
        highlightLineColor: 'red'
      });
      
    }
  </script>

<script type="text/javascript">

  async function table_1(tx_datas, header){
    console.log('tx_datas', tx_datas)
    if (header) {
      console.log('header')
      let table = document.getElementById("ListTable");
      let row = document.createElement("tr")

      // Create cells
      let c1 = document.createElement("th")
      let c2 = document.createElement("th")
      let c3 = document.createElement("th")
      let c4 = document.createElement("th")
      let c5 = document.createElement("th")
      let c6 = document.createElement("th")
      let c7 = document.createElement("th")


      c1.style.color = "white";
      c2.style.color = "white";
      c3.style.color = "white";
      c4.style.color = "white";
      c5.style.color = "white";
      c6.style.color = "white";
      c7.style.color = "white";

      // Insert data to cells
      c1.innerText = "Platform"
      c2.innerText = "Median of Exch. Rate"
      c3.innerText = "Average of Exch. Rate"
      c4.innerText = "Avg. gas used"
      c5.innerText = "Avg. tx_fee"
      c6.innerText = "Number of Swaps"
      c7.innerText = "Number of Swappers"
      
      // Append cells to row
      row.appendChild(c1);
      row.appendChild(c2);
      row.appendChild(c3);
      row.appendChild(c4);
      row.appendChild(c5);
      row.appendChild(c6);
      row.appendChild(c7);

      table.appendChild(row)

    }

    for (let index = 0; index < tx_datas.length; index++) {
      const element = tx_datas[index];
      console.log('element', element)

      addRow_1(element['platform'],
        element['median.exch rate'].toFixed(2),
        element['avg.exch rate'].toFixed(2),
        element['avg.gas_used'].toFixed(2),
        element['avg.tx_fee'].toFixed(2),
        element['swaps'],
        element['swappers'],)
        
    }
  }
  async function fetchDataAndCallTable() {
    const tx_data = await fetch('https://api.flipsidecrypto.com/api/v2/queries/05863b68-4e2a-4de0-be83-a0322e34a2e8/data/latest');
    var tx_datas = await tx_data.json();
    table_1(tx_datas, false)
  }
  fetchDataAndCallTable()
</script>

{% endblock %}